<ion-content  [fullscreen]="true">
  <ion-card style="background: black;" class="card-background-page">
    <ion-card-content class="content">
      <div class="card-title">
        <h1 style="color: white; font-weight: 500;" >BIENVENIDO</h1>
      </div>
      <br><br>
      <img class="logo-1" src="../../assets/img/izlLogo.gif"/>
      <br><br><br><br><br>
      <div class="card-subtitle">
        <ion-button color="black" style=" color: black ;background-color: white; font-weight: 500; font-size: 20px; border-radius: 30px;" routerLink="/inicio-session">INICIAR SESION</ion-button><br>
      </div>
      <br>
      <div class="card-subtitle">
        <ion-button color="white" style="color: black; background-color: white ; font-weight: 500; font-size: 20px; border-radius: 30px;" routerLink="/registro">REGISTRARSE</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
